
.main-contact{
    height: 80vh;
}
.contact-container {
    max-width: 600px;
    margin: 75px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
  }
  
  .contact-btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .contact-container {
      padding: 10px;
    }
    
    h2 {
      font-size: 20px;
    }
    
    .contact-btn {
      font-size: 16px;
    }
  }
  